# Python & Data Science practical exercises 2

## Pandas

Follow the instructions to complete each of these tasks. This set of exercises focusses on writing basic Python code, and some object oriented and functional programming. Do not worry if you do not complete them all in the timetabled practical session.

**Questions marked with a * are extra challenging**

The relevant materials for these exercises are lectures 6 to 8.

This is not assessed but will help you gain practical experience for the exam and coursework.

*Feel free to work on them in any order, and focus on the ones you find most challening or interesting!*

You will need to download some of the csv data set files from the module Blackboard page and place them in the same folder as this notebook. Run the cell below to load all of the necessary Python modules.

In [2]:
import pandas as pd
import requests
from pandas.io.json import json_normalize

## Diamonds example data

### 1.1

Read in the diamonds csv file to a pandas data frame. Use pandas to find how many diamonds have carat greater than 3.5.

In [4]:
dim = pd.read_csv("diamonds(1).csv")
dim[dim['carat'] > 3.5]

       carat        cut color clarity  depth  table  price      x      y     z
23644   3.65       Fair     H      I1   67.1   53.0  11668   9.53   9.48  6.38
25998   4.01    Premium     I      I1   61.0   61.0  15223  10.14  10.10  6.17
25999   4.01    Premium     J      I1   62.5   62.0  15223  10.02   9.94  6.24
26444   4.00  Very Good     I      I1   63.3   58.0  15984  10.01   9.94  6.31
26534   3.67    Premium     I      I1   62.4   56.0  16193   9.86   9.81  6.13
27130   4.13       Fair     H      I1   64.8   61.0  17329  10.00   9.85  6.43
27415   5.01       Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98
27630   4.50       Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
27679   3.51    Premium     J     VS2   62.5   59.0  18701   9.66   9.63  6.03

### 1.2

Create a series of the price of all of the diamonds that have carat greater than 3.5.

In [5]:
dim.price[dim.carat > 3.5 ]

23644    11668
25998    15223
25999    15223
26444    15984
26534    16193
27130    17329
27415    18018
27630    18531
27679    18701
Name: price, dtype: int64

### 1.3

For ideal cut diamonds whose price is greater than 10000, find the number of diamonds having each clarity.

In [28]:
dim2 = dim[dim[dim.cut == "ideal"].price > 10000]
dim2.clarity.value_counts()

SI2     1239
SI1     1184
VS2     1155
VS1      747
VVS2     452
VVS1     247
IF       168
I1        30
Name: clarity, dtype: int64

## Vancouver street trees data

### 2.1

Load the Vancouver street trees data provided on Blackboard. What is the most common genus of tree?

In [30]:
vstdata = pd.read_csv('StreetTrees_MountPleasant(2).csv')
vstdata.head()

,TREE_ID,CIVIC_NUMBER,STD_STREET,NEIGHBOURHOOD_NAME,ON_STREET,ON_STREET_BLOCK,STREET_SIDE_NAME,ASSIGNED,HEIGHT_RANGE_ID,DIAMETER,DATE_PLANTED,PLANT_AREA,ROOT_BARRIER,CURB,CULTIVAR_NAME,GENUS_NAME,SPECIES_NAME,COMMON_NAME,LATITUDE,LONGITUDE
0,611,2928,COLUMBIA ST,MOUNT PLEASANT,COLUMBIA ST,2900,EVEN,N,2,7.0,20181014,7,N,Y,,ROBINIA,PSEUDOACACIA,BLACK LOCUST,49.259191,-123.10953
1,1467,438,GREAT NORTHERN WAY,MOUNT PLEASANT,GREAT NORTHERN WAY,400,EVEN,N,1,3.0,20181014,4,N,Y,,PYRUS,CALLERYANA,CALLERY PEAR,49.266702,-123.09324
2,1468,438,GREAT NORTHERN WAY,MOUNT PLEASANT,GREAT NORTHERN WAY,400,EVEN,N,1,3.0,20181014,4,N,Y,,PYRUS,CALLERYANA,CALLERY PEAR,49.266701,-123.09331
3,1470,438,GREAT NORTHERN WAY,MOUNT PLEASANT,GREAT NORTHERN WAY,400,EVEN,N,1,3.0,20181014,4,N,Y,,PYRUS,CALLERYANA,CALLERY PEAR,0.000000,0.00000
4,1471,438,GREAT NORTHERN WAY,MOUNT PLEASANT,GREAT NORTHERN WAY,400,EVEN,N,1,3.0,20181014,4,N,Y,,PYRUS,CALLERYANA,CALLERY PEAR,49.266705,-123.09362

### 2.2

Find the mean diameter of trees with height range ID 9.

In [40]:
vstdata[vstdata.HEIGHT_RANGE_ID == 9].DIAMETER.mean()

30.183333333333334

### 2.3

Produce a pandas data frame giving the maximum and minimum height range id on each street.

In [62]:
vstdata.ON_STREET.unique()#GOOD
newvstdata = vstdata.groupby('ON_STREET')
#newvstdata.first()#Test
#newvstdata.HEIGHT_RANGE_ID.min()#Test
#newvstdata.HEIGHT_RANGE_ID.max()#Test
#isinstance(newvstdata.HEIGHT_RANGE_ID.min(), pd.Series)#Test
finalvstdata = pd.DataFrame({'ON_STREET' : vstdata.ON_STREET.unique(), 'MIN_HEIGHT_RANGE_ID' : newvstdata.HEIGHT_RANGE_ID.min(), 'MAX_HEIGHT_RANGE_ID' : newvstdata.HEIGHT_RANGE_ID.max()})
finalvstdata.head()

                       ON_STREET  MIN_HEIGHT_RANGE_ID  MAX_HEIGHT_RANGE_ID
ON_STREET
ALBERTA ST           COLUMBIA ST                    1                    8
ATHLETES WAY  GREAT NORTHERN WAY                    2                    4
BRUNSWICK ST           QUEBEC ST                    2                    6
CAMBIE ST            CAROLINA ST                    1                    4
CAROLINA ST            W 14TH AV                    1                    5

## Iris flower example data

### 3.1

Load the iris.csv flower data. Add two extra columns to the data frame giving the ratio of sepal length over width and petal length over width.

In [74]:
irdata = pd.read_csv('iris(1).csv')
irdata['Sepal.Ratio'] = irdata['Sepal.Length']/irdata['Sepal.Width']
irdata['Petal.Ratio'] = irdata['Petal.Length']/irdata['Petal.Width']
irdata

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Sepal.Ratio,Petal.Ratio
1,5.1,3.5,1.4,0.2,setosa,1.457143,7.000000
2,4.9,3.0,1.4,0.2,setosa,1.633333,7.000000
3,4.7,3.2,1.3,0.2,setosa,1.468750,6.500000
4,4.6,3.1,1.5,0.2,setosa,1.483871,7.500000
5,5.0,3.6,1.4,0.2,setosa,1.388889,7.000000
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,virginica,2.233333,2.260870
147,6.3,2.5,5.0,1.9,virginica,2.520000,2.631579
148,6.5,3.0,5.2,2.0,virginica,2.166667,2.600000
149,6.2,3.4,5.4,2.3,virginica,1.823529,2.347826
150,5.9,3.0,5.1,1.8,virginica,1.966667,2.833333

### 3.2

Calculate the mean of the ratio between sepal length and width for each species.

In [75]:
newirdata = irdata.groupby('Species')
newirdata['Sepal.Ratio'].mean()

Species
setosa        1.470188
versicolor    2.160402
virginica     2.230453
Name: Sepal.Ratio, dtype: float64

### 3.3

Use a lambda to find the interquartile range (third quartile minus first quartile) of each of the four measurements. You can use the pandas quantile method of a Series to do this. Look up the quantile method here - https://pandas.pydata.org/pandas-docs/stable/

In [79]:
f = lambda x : x.quantile(0.75) - x.quantile(0.25)
SLIR = f(irdata['Sepal.Length'])
SWIR = f(irdata['Sepal.Width'])
PLIR = f(irdata['Petal.Length'])
PWIR = f(irdata['Petal.Width'])
print("Sepal Length IR:", SLIR, ", Sepal Width IR:", SWIR, ", Petal Length IR:", PLIR, ", Petal Width IR:",PWIR)

Sepal Length IR: 1.3000000000000007 , Sepal Width IR: 0.5 , Petal Length IR: 3.4999999999999996 , Petal Width IR: 1.5

## Philadelphia bike share live data

### 4.1

Complete the code below to load a JSON live feed for a Philadelphia bike share program into a pandas data frame. It may help to look at the JSON data in a visual inspector. One way of doing this is to open the url given in Firefox. Once you have loaded the data, look at the head of the data frame, and list all of the columns.

(I've had to add in some header data to the request, as the server rejects all requests without a user agent string)

*You can use the pandas function json_normalize that was imported at the start of the notebook, but you need to pass it a suitable part of the JSON data.* 

*The indego_bikes_data object returned by requests.get() can be converted to a Python data structure using the json() method*

In [80]:
indego_bikes_url = ("https://www.rideindego.com/stations/json/")
headers = {'User-Agent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:63.0) Gecko/20100101 Firefox/63.0"}
indego_bikes_data = requests.get(indego_bikes_url,headers=headers)

In [92]:
indego_data = indego_bikes_data.json()["features"]
ibdata = json_normalize(indego_data)
ibdata

,type,geometry.coordinates,geometry.type,properties.addressStreet,properties.addressCity,properties.addressState,properties.addressZipCode,properties.bikesAvailable,properties.closeTime,properties.docksAvailable,...,properties.trikesAvailable,properties.kioskConnectionStatus,properties.kioskType,properties.latitude,properties.longitude,properties.hasGeofence,properties.classicBikesAvailable,properties.smartBikesAvailable,properties.electricBikesAvailable,properties.isArchived
0,Feature,"[-75.16374, 39.95378]",Point,1401 John F. Kennedy Blvd.,Philadelphia,PA,19102,9,03:55:00,21,...,0,Active,1,39.95378,-75.16374,False,8,0,1,False
1,Feature,"[-75.14403, 39.94733]",Point,191 S. 2nd St.,Philadelphia,PA,19106,7,03:55:00,6,...,0,Active,1,39.94733,-75.14403,False,7,0,0,False
2,Feature,"[-75.20311, 39.9522]",Point,246 S. 40th St.,Philadelphia,PA,19104,2,03:55:00,14,...,0,Active,1,39.95220,-75.20311,False,2,0,0,False
3,Feature,"[-75.15993, 39.94517]",Point,328 S. 11th St.,Philadelphia,PA,19107,6,03:55:00,12,...,0,Active,1,39.94517,-75.15993,False,4,0,2,False
4,Feature,"[-75.15055, 39.98078]",Point,1076 Berks Street,Philadelphia,PA,19122,15,03:55:00,4,...,0,Active,1,39.98078,-75.15055,False,13,0,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Feature,"[-75.17227, 39.94077]",Point,1798 Christian St,Philadelphia,PA,19146,8,03:55:00,10,...,0,Active,1,39.94077,-75.17227,False,6,0,2,False
136,Feature,"[-75.17063, 39.95174]",Point,1805 Chestnut St,Philadelphia,PA,19103,5,03:55:00,15,...,0,Active,1,39.95174,-75.17063,False,5,0,0,False
137,Feature,"[-75.19324, 39.95048]",Point,3566 Spruce St,Philadelphia,PA,19104,15,03:55:00,12,...,0,Active,1,39.95048,-75.19324,False,14,0,1,False
138,Feature,"[-75.21278, 39.949]",Point,980 45th St,Philadelphia,PA,19104,6,03:55:00,7,...,0,Active,1,39.94900,-75.21278,False,5,0,0,False
139,Feature,"[-75.15668, 39.98492]",Point,2108 N Broad St,Philadelphia,PA,19121,6,03:55:00,12,...,0,Active,1,39.98492,-75.15668,False,1,0,5,False

### 4.2

Is there any street with more than one bike station?

In [97]:
(ibdata['properties.addressStreet'].value_counts() > 1).value_counts()#All are False
#ibdata['properties.addressStreet'].value_counts().value_counts()#All are 1#A better version

False    140
Name: properties.addressStreet, dtype: int64

### 4.3

Use pandas to count the total number of available docks in each zip code, producing a Series of zipcodes and available dock counts.

*You can use the pandas method sum() on a grouby object to add the all values in a particular group*.

In [98]:
ibdata.groupby('properties.addressZipCode')['properties.docksAvailable'].sum()

properties.addressZipCode
19102     55
19103    146
19104    286
19106     66
19107     94
19112     64
19121     80
19122    140
19123     89
19125     50
19130    133
19131      9
19132     22
19139     34
19145     25
19146    183
19147    117
19148     95
19149     25
Name: properties.docksAvailable, dtype: int64

### 4.4

Using pandas, find the difference between the minimum and maximum number of available bikes at docks within each zip code.

In [103]:
ibdata.groupby('properties.addressZipCode')['properties.bikesAvailable'].max()- ibdata.groupby('properties.addressZipCode')['properties.bikesAvailable'].min()

properties.addressZipCode
19102    11
19103    15
19104    16
19106    13
19107     8
19112     9
19121     9
19122    12
19123    11
19125     5
19130    16
19131     0
19132     0
19139     6
19145    10
19146    12
19147     9
19148    22
19149     0
Name: properties.bikesAvailable, dtype: int64

### 4.5*

Write Python code using pandas to determine the postal code with the highest median fraction of docks available.